* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/004/519/307/large_2x/yellow-orange-and-pink-gradient-background-free-photo.jpg);
  color: black;
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  background-color: #eee;
  font-family: "system-ui";
  font-weight: bolder;
}




ol, ul {
  list-style: none
}

.ios {
  position: relative;
  width: 335px;
  height: 700px;
  margin: 2rem auto;
  border-radius: 3.2rem;
  background-color: #ddd;
  background-image: url(https://images.pexels.com/photos/616838/pexels-photo-616838.jpeg?auto=compress&cs=tinysrgb&w=800);
  background-repeat: no-repeat;
  background-size: cover;
  border: 12px solid #333;
  box-shadow: 0 0 10px rgba(51, 51, 51, .5)
}

.ios:before {
  content: "";
  display: block;
  width: 65%;
  height: 25px;
  margin: 0 auto;
  background-color: #333;
  border-radius: 0 0 20px 20px
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 1.3rem
}

.header__time {
  position: absolute;
  top: .8rem
}

.header__list {
  display: flex;
  position: absolute;
  top: .5rem;
  right: 1.1rem
}

.header__item {
  margin: 0 2px
}

.home {
  padding: 1rem 1.2rem
}

.home__block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  margin: 1rem 0
}

.home__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  width: 50%
}

.home__item, .footer__item {
  position: relative;
  background-repeat: no-repeat;
  background-size: 112%;
  background-position: center;
  position: relative;
  cursor: pointer;
  background-color: #eee;
  width: 52px;
  height: 52px;
  margin: 2px;
  border-radius: .9rem;
  box-shadow: 0 0 20px rgba(51, 51, 51, .1)
}

.home__item:before, .footer__item:before {
  opacity: 0;
  content: "⎻";
  text-align: center;
  color: #333;
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -4px;
  left: -4px;
  background-color: #ddd;
  border-radius: 50%;
  transition: opacity 200ms
}


.home__item--one {
  width: 46%;
  height: 87%;
  background-size: cover
}

.home__text {
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translatex(-50%);
  font-size: 10px;
  white-space: nowrap;
  box-shadow: 0 0 20px rgba(51, 51, 51, .1)
}

.icon__clock {
  background-image: url(icons/clock-256x256-2365231.png)
}

.icon__camera {
  background-image: url( )
}

.icon__stocks {
  background-image: url(icons/timer.png)
}

.icon__mole {
  background-image: url(https://flyclipart.com/thumb2/mole-clip-art-817147.png)
}

.icon__phone {
  background-image: url(https://i.ibb.co/wLnwBNC/apple-phone-493154.png)
}

.icon__safari {
  background-image: url(https://i.ibb.co/yB365nj/apple-safari-493157.png)
}

.icon__message {
  background-image: url(https://i.ibb.co/K6rBtH1/apple-messages-493150.png)
}

.icon__store {
  background-image: url(https://i.pinimg.com/736x/d7/9c/e2/d79ce280371d2bb9e90d61ef70cd216c.jpg)
}

.icon__health {
  background-image: url(icons/voice-memos-256x256-1575942.png)
}

.icon__photos {
  background-image: url(https://i.ibb.co/TKvyGQT/apple-photos-493155.png)
}

.icon__calc {
  background-image: url(icons/calculator-256x256-1575939.png)
}

.icon__files {
  background-image: url(https://cdn-icons-png.flaticon.com/512/4310/4310857.png)
}

.icon__weather {
  background-image: url(https://i.ibb.co/3p97htd/weather-2365236.png)
}

.icon__home {
  background-image: url(icons/reminders-256x256-2365242.png)
}

.icon__news {
  background-image: url(https://i.ibb.co/h7Zg9SM/news-2365224.png)
}

.icon__fitness {
  background-image: url(https://i.ibb.co/d4fz6BV/Captura-de-Tela-2021-11-15-a-s-21-17-02.png)
}

.icon__music {
  background-image: url(https://i.ibb.co/JCKPQ05/apple-music-2365226.png)
}

.icon__photos2 {
  background-image: url(https://images.unsplash.com/photo-1590073844006-33379778ae09?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80)
}

.icon__music2 {
  background-image: url(https://cdn.dribbble.com/users/77503/screenshots/11595591/media/ba0580ed151f2fec16d30267edc564ad.png?compress=1&resize=400x300&vertical=top)
}

.footer {
  position: absolute;
  bottom: .6rem;
  right: .6rem;
  left: .6rem;
  width: 94%;
  height: 5rem;
  padding: .8rem;
  border-radius: 1.6rem;
  background-color: rgba(238, 238, 238, .4);
}

.footer__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
